#!/bin/bash
set -x
set -e
set -u

export TSAN11_SOURCE_ROOT=/data/tsan11
export TSAN11_BUILD_ROOT=/data/tsan11_build


## No need to edit below here:

export PATH=${TSAN11_SOURCE_ROOT}/scripts:$PATH

# should get set again later
export MOZ_OBJDIR=${TSAN11_BUILD_ROOT}/tried_to_build_firefox_without_setting_MOZ_OBJDIR/

#export PYTHONPATH=${TSAN11_SOURCE_ROOT}/scripts:$PYTHONPATH

bash

